In [1]:
# imorting all the important libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
# seperation of dependent and independent varibale
X = df[['Age' , 'EstimatedSalary']]
y = df['Purchased']

In [7]:
x_train , x_test , y_train , y_test = train_test_split(X , y , test_size = 0.25 , random_state = 5)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train , y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_pred , y_test)

0.77

In [8]:
x_train , x_test , y_train , y_test = train_test_split(X , y , test_size = 0.25 , random_state = 101)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train , y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_pred , y_test)

0.82

In [9]:
knnclassifier = KNeighborsClassifier(n_neighbors=5)
cross_val_score(knnclassifier , X , y, cv=10 , scoring = 'accuracy')

array([0.7  , 0.925, 0.85 , 0.875, 0.775, 0.675, 0.75 , 0.8  , 0.725,
       0.775])

In [10]:
cross_val_score(knnclassifier , X , y, cv=10 , scoring = 'accuracy').mean()

0.7849999999999999

In [11]:
cross_val_score(knnclassifier , X , y, cv=10 , scoring = 'accuracy').min()

0.675

In [12]:
cross_val_score(knnclassifier , X , y, cv=10 , scoring = 'accuracy').max()

0.925